html {
  margin: 0;
}

span {
  display: block;
}
.canvas {
  margin: 100px auto 100px;
  width: 80%;
  text-align: center;
}

.button {
  width: 100px;
  height: 100px;
  border: solid black 2px;
  display: inline-block;
}

a{
padding: 10px 30px;
background-color:rgb(173, 168, 168);
border-radius: 8px;
box-sizing: border-box;
color:#212121;
border: 2px solid#212121;
text-decoration: dashed;
display: flex;
align-items: center;
justify-content: center;
}

a:hover{
  color: blue;
  border-collapse: collapse;
  background-color: bisque;
}
#grey {
  background: grey;
}

#white {
  background: white;
}
#blue {
  background: blue;
}
#yellow {
  background: yellow;
}
